# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Cache directories
.npm
.DS_Store
.pursuit-cache

# Temp directories
tmp

# Build directories
public/
# dest/

# Reports
test-reports
