html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{
	margin:0;
	padding:0;
}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{
	display:block;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
caption,th{
	text-align:left;
	font-weight:normal;
}
html,body,fieldset,img,iframe,abbr{
	border:0;
}
i,cite,em,var,address,dfn{
	font-style:normal;
}
[hidefocus],summary{
	outline:0;
}
li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6,small{
	font-size:100%;
}
sup,sub{
	font-size:83%;
}
pre,code,kbd,samp{
	font-family:inherit;
}
textarea{
	overflow:auto;
	resize:none;
}
label,summary{
	cursor:default;
}
a,button{
	cursor:pointer;
}
h1,h2,h3,h4,h5,h6,em,strong,b{
	font-weight:bold;
}
del,ins,u,s,a,a:hover{
	text-decoration:none;
}
body,textarea,input,button,select,keygen,legend{
	font:12px/1.14 arial,\5b8b\4f53;
	color:#666;
	outline:0;
}
body{
	background:#fff;
}
a,a:hover{
	color:#666;
}
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body{
	font:14px/1.6 "Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
	background:#fff;
	color:#333;
}
a{
	text-decoration:none;
	cursor:pointer;
	background:transparent;
}
a:hover{
	text-decoration:underline;
}
a:hover,a:focus{
	outline:0;
}
hr{
	border:none;
}
em{
	font-style:normal;
}
ins{
	text-decoration:none;
}
pre,code,kbd,samp{
	font-family:"YaHei Consolas Hybrid",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}
abbr[title]{
	cursor:help;
}
dfn{
	font-style:normal;
	font-weight:bold;
}
q:before{
	content:"“";
}
q:after{
	content:"”";
}
q q:before{
	content:"‘";
}
q q:after{
	content:"’";
}
blockquote,figure{
	margin:0;
}
blockquote footer{
	text-align:right;
}
blockquote footer:before{
	content:"—— ";
}
pre{
	-webkit-tab-size:4;
	-moz-tab-size:4;
	tab-size:4;
	overflow:auto;
}
pre code{
	background:none;
	border:none;
	padding:0;
	margin:0;
	font-size:inherit;
	color:inherit;
}
ul>li>ul,ul>li>ol,ol>li>ol,ol>li>ul{
	margin:0;
}
dt{
	font-weight:bold;
}
dd{
	margin-left:0;
}
address{
	font-style:normal;
}
img{
	max-width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:none;
	vertical-align:middle;
}
svg:not(:root){
	overflow:hidden;
}
article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{
	display:block;
}
iframe{
	border:none;
}
audio:not([controls]){
	display:none;
}
progress{
	vertical-align:baseline;
}
body{
	font:14px/1.6 "Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
	color:#262c35;
	-webkit-font-smoothing:antialiased;
}
.g-wrap{
	width:1080px;
	margin:0 auto;
}
.g-top{
	height:60px;
}
.g-hd{
	height:540px;
	background:#262c35;
}
.g-bd{
	padding:40px 0;
}
.f-cb:after,.f-cbli li:after{
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
	content:".";
}
.f-cb,.f-cbli li{
	zoom:1;
}
.f-ib{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.f-dn{
	display:none;
}
.f-db{
	display:block;
}
.f-fl{
	float:left;
}
.f-fr{
	float:right;
}
.f-pr{
	position:relative;
}
.f-prz{
	position:relative;
	zoom:1;
}
.f-oh{
	overflow:hidden;
}
.f-fwn{
	font-weight:normal;
}
.f-fwb{
	font-weight:bold;
}
.f-tal{
	text-align:left;
}
.f-tac{
	text-align:center;
}
.f-tar{
	text-align:right;
}
.f-taj{
	text-align:justify;
	text-justify:inter-ideograph;
}
.f-vat{
	vertical-align:top;
}
.f-vam,.f-vama *{
	vertical-align:middle;
}
.f-vab{
	vertical-align:bottom;
}
.f-wsn{
	word-wrap:normal;
	white-space:nowrap;
}
.f-pre{
	overflow:hidden;
	text-align:left;
	white-space:pre-wrap;
	word-wrap:break-word;
	word-break:break-all;
}
.f-wwb{
	white-space:normal;
	word-wrap:break-word;
	word-break:break-all;
}
.f-toe{
	overflow:hidden;
	word-wrap:normal;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.f-usn{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.f-lsn,.m-navbar,.m-tabs .tabs_hd{
	list-style:none;
	margin:0;
	padding:0;
}
.f-lsi,.m-navbar{
	letter-spacing:-4px;
}
.f-lsi >*,.m-navbar >*{
	letter-spacing:normal;
}
.f-ti{
	overflow:hidden;
	text-indent:-30000px;
}
.f-ti2{
	text-indent:2em;
}
.f-lhn{
	line-height:normal;
}
.f-tdu,.f-tdu:hover{
	text-decoration:underline;
}
.f-tdn,.f-tdn:hover{
	text-decoration:none;
}
.f-csp{
	cursor:pointer;
}
.f-csd{
	cursor:default;
}
.f-csh{
	cursor:help;
}
.f-csm{
	cursor:move;
}
@font-face {
	font-family:"i-icon";
	src:url("../fonts/i-icon.eot?v=e9f07b00b623987686ffce74962f6bee");
	src:url("../fonts/i-icon.eot?v=e9f07b00b623987686ffce74962f6bee#iefix") format("embedded-opentype"),url("../fonts/i-icon.woff?v=e9f07b00b623987686ffce74962f6bee") format("woff"),url("../fonts/i-icon.ttf?v=e9f07b00b623987686ffce74962f6bee") format("truetype"),url("../fonts/i-icon.svg?v=e9f07b00b623987686ffce74962f6bee#svg1") format("svg");
	font-weight:normal;
	font-style:normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0){
	@font-face {
		font-family:"i-icon";
		src:url("../fonts/i-icon.svg?v=e9f07b00b623987686ffce74962f6bee#svg1") format("svg");
	}
}
.i-icon{
	display:inline-block;
	font-family:"i-icon";
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	line-height:1;
	text-decoration:inherit;
	text-rendering:optimizeLegibility;
	text-transform:none;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
}
.i-icon-close:before{
	content:"\f100";
}
.i-icon-fork:before{
	content:"\f101";
}
.i-icon-github:before{
	content:"\f102";
}
.i-icon-octoface:before{
	content:"\f103";
}
.i-icon-star:before{
	content:"\f104";
}
.i-logo{
	display:inline-block;
	background-image:url("../img/i-logo.png?v=4169cad0c8bcb81545112745852c120d");
}
.i-logo-babel{
	background-position:0px 0px;
	width:60px;
	height:60px;
}
.i-logo-es6{
	background-position:-60px 0px;
	width:60px;
	height:60px;
}
.i-logo-eslint{
	background-position:0px -60px;
	width:60px;
	height:60px;
}
.i-logo-gulp{
	background-position:-60px -60px;
	width:60px;
	height:60px;
}
.i-logo-regular-ui{
	background-position:-120px 0px;
	width:60px;
	height:60px;
}
.i-logo-regular{
	background-position:-120px -60px;
	width:60px;
	height:60px;
}
.i-logo-webpack{
	background-position:0px -120px;
	width:60px;
	height:60px;
}
.i-logo{
	-moz-filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:alpha(opacity = 60);
	opacity:0.6;
}
.i-logo:hover{
	-moz-filter:grayscale(0%);
	-webkit-filter:grayscale(0%);
	filter:grayscale(0%);
	filter:alpha(opacity = 100);
	opacity:1;
}
.u-logo{
	display:inline-block;
	width:180px;
	height:60px;
	margin-left:40px;
	background:url("../img/logo.png");
}
.m-header{
	color:#fff;
	text-align:center;
}
.m-header h2{
	padding-top:160px;
	font-size:38px;
}
.m-header h3{
	margin-top:26px;
	font-size:24px;
	font-weight:normal;
}
.m-header .u-btn-primary{
	margin-top:80px;
}
.m-section-integrated .i-logo{
	margin:40px;
}
.u-btn{
	-webkit-appearance:none;
	margin:0;
	border:none;
	overflow:visible;
	font:inherit;
	text-transform:none;
	text-decoration:none;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:none;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}
.u-btn:hover,.u-btn:focus{
	outline:none;
	text-decoration:none;
}
.u-btn:disabled,.u-btn.z-dis{
	cursor:not-allowed;
}
.u-btn-block{
	display:block;
	width:100%;
}
.u-btn{
	padding:0 40px;
	height:36px;
	line-height:36px;
	background:#fff;
	color:#de5050;
	border:1px solid #de5050;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.u-btn:hover{
	background:#de5050;
	color:#fff;
}
.u-btn:active,.u-btn.z-act{
	background:#a83636;
	color:#fff;
}
.u-btn-primary{
	background:#de5050;
	color:#fff;
	border:1px solid #de5050;
}
.u-btn-primary:hover{
	background:#a83636;
	color:#fff;
	border-color:#a83636;
}
.u-btn-primary:active,.u-btn-primary.z-act{
	background:#a83636;
	color:#fff;
	border-color:#a83636;
}
.u-btn-inverse{
	background:none;
	color:#fff;
	border:1px solid #fff;
}
.u-btn-inverse:hover{
	background:#de5050;
	color:#fff;
	border-color:#de5050;
}
.u-btn-inverse:active,.u-btn-inverse.z-act{
	background:#a83636;
	color:#fff;
	border-color:#a83636;
}
.u-btn-lg{
	height:40px;
	line-height:40px;
	padding:0 60px;
}
.m-navbar >li{
	display:inline-block;
}
.m-navbar >li >a,.m-navbar >li >span{
	display:block;
	text-decoration:none;
	text-align:center;
}
.m-navbar{
	float:right;
	font-family:proxima-nova,sans-serif;
}
.m-navbar >li >a,.m-navbar >li >span{
	min-width:136px;
	height:57px;
	line-height:57px;
	color:#262c35;
	border-top:3px solid transparent;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.m-navbar >li:hover>a{
	border-top:3px solid #de5050;
	color:#de5050;
}
.m-navbar >li.z-crt>a{
	border-top:3px solid #de5050;
	color:#de5050;
}
.m-toast{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:fixed;
	z-index:1040;
	top:10px;
	left:10px;
	width:320px;
}
.m-toast .toast_item{
	margin-bottom:10px;
}
.m-toast .toast_close{
	float:right;
}
.m-toast-top-right,.m-toast-bottom-right{
	left:auto;
	right:10px;
}
.m-toast-top-center,.m-toast-bottom-center{
	left:50%;
	margin-left:-160px;
}
.m-toast-bottom-left,.m-toast-bottom-right,.m-toast-bottom-center{
	top:auto;
	bottom:10px;
}
@media (max-width: 767px){
	.m-toast{
		left:10px;
		right:10px;
		width:auto;
		margin:0;
	}
}
.m-toast-static{
	position:static;
	width:auto;
}
.m-toast{
	top:160px;
}
.m-toast .toast_item{
	padding:15px;
	background:#de5050;
	color:#fff;
}
.m-toast .toast_item:before{
	font-size:20px;
	line-height:1;
	vertical-align:middle;
}
.m-toast .toast_close{
	display:none;
}
.m-tabs .tabs_hd >li{
	float:left;
	cursor:pointer;
}
.m-tabs .tabs_hd >li >a,.m-tabs .tabs_hd >li >span{
	display:block;
	color:inherit;
	text-decoration:none;
}
.m-tabs .tabs_hd >li.z-crt{
	position:relative;
}
.m-tabs .tabs_hd >li.z-dis{
	cursor:not-allowed;
}
.m-tabs .tabs_bd{
	clear:both;
}
.m-tabs.z-dis .tabs_hd >li{
	cursor:not-allowed;
}
.m-tabs.z-dis .tabs_hd >li.z-crt{
	cursor:default;
}
.m-tabs{
	-moz-border-radius:3px;
	border-radius:3px;
}
.m-tabs .tabs_hd{
	margin-left:-1px;
}
.m-tabs .tabs_hd >li{
	height:40px;
	line-height:40px;
	color:#262c35;
	border:1px solid transparent;
	border-bottom-width:0;
	margin-bottom:-1px;
}
.m-tabs .tabs_hd >li >a,.m-tabs .tabs_hd >li >span{
	padding:0 30px;
}
.m-tabs .tabs_hd >li + li{
	margin-left:5px;
}
.m-tabs .tabs_hd >li:hover,.m-tabs .tabs_hd >li:focus{
	color:#515d70;
}
.m-tabs .tabs_hd >li.z-crt{
	background:#fff;
	color:#444;
	border-color:#f4f4f4;
	-webkit-box-shadow:0 -3px #de5050;
	box-shadow:0 -3px #de5050;
	padding-bottom:1px;
}
.m-tabs .tabs_hd >li.z-dis{
	color:#999;
	background:none;
	border-color:transparent;
}
.m-tabs .tabs_bd{
	background:#fff;
	border-top:1px solid #f4f4f4;
	padding:20px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15);
	box-shadow:0 1px 1px rgba(0,0,0,0.15);
}
.m-tabs.z-dis .tabs_hd >li:not(.z-crt){
	background:none;
	color:#999;
	border-color:transparent;
}
.m-modal{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1000;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	touch-action:cross-slide-y pinch-zoom double-tap-zoom;
	text-align:center;
	overflow:hidden;
}
.m-modal:before{
	content:"";
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
.m-modal .modal_dialog{
	display:inline-block;
	vertical-align:middle;
	text-align:left;
}
.m-modal .modal_hd{
	position:relative;
}
.m-modal .modal_title{
	margin:0;
}
.m-modal .modal_close{
	position:absolute;
}
@media (max-width: 767px){
	.m-modal .modal_dialog{
		width:auto;
	}
}
html.z-modal,html.z-modal body{
	overflow:hidden;
}
.m-modal{
	background:rgba(0,0,0,0.6);
}
.m-modal .modal_dialog{
	width:400px;
	background:#fff;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.3);
	box-shadow:0 2px 3px rgba(0,0,0,0.3);
}
.m-modal .modal_hd{
	padding:15px;
	border-bottom:1px solid #eee;
}
.m-modal .modal_title{
	font-size:18px;
}
.m-modal .modal_close{
	right:15px;
	top:18px;
	line-height:1;
	color:#bbb;
}
.m-modal .modal_close:hover{
	color:#888;
}
.m-modal .modal_bd{
	padding:15px;
	min-height:10px;
}
.m-modal .modal_ft{
	padding:15px;
	text-align:center;
}
.m-modal .modal_ft .u-btn{
	margin:0 10px;
}
@media (max-width: 767px){
	.m-modal .modal_dialog{
		margin:10px;
	}
}
.m-modal-register p{
	margin:10px;
}
.m-modal-register input{
	height:24px;
	padding:2px 6px;
	font-size:14px;
}